{{ if .Site.Params.authorbox }}

<div class="authorbox clearfix">

  {{ if .Params.author }}

    {{ $author := index .Site.Params.Authors (.Params.author)}}

	{{ if $author }}

		<figure class="authorbox__avatar">

			<img alt="{{ $author.name }} avatar" src="{{ $author.avatar | relURL }}" class="avatar" height="90" width="90">

		</figure>

		<div class="authorbox__header">

			<span class="authorbox__name">About {{ $author.name }}</span>

		</div>

		<div class="authorbox__description">

			{{ $author.bio }}

		</div>

	{{ else }}

		<figure class="authorbox__avatar">

			<img alt="{{ $.Params.author }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">

		</figure>

		<div class="authorbox__header">

			<span class="authorbox__name">About {{ .Params.author }}</span>

		</div>

		<div class="authorbox__description">

			{{ .Params.author }}

		</div>

	{{ end }}

  {{ else }}

	<figure class="authorbox__avatar">

		<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">

	</figure>

	<div class="authorbox__header">

		<span class="authorbox__name">About {{ .Site.Author.name }}</span>

	</div>

	<div class="authorbox__description">

		{{ .Site.Author.bio }}

	</div>

  {{ end }}

</div>

{{ end }}